<% include ./partials/header.ejs %>

<div class="fullPageDiv" id="loginImage">
  <div class="container-fluid d-flex justify-content-center">
    <form class="loginForm rounded border border-light" action="/login" method="POST">
      <h2 class="container-fluid d-flex justify-content-center loginHeader">Login to CampDB</h2>
      <!-- If a flash message exists and is not empty, display it -->
      <% if (error != "") { %>
        <div class="alert alert-danger">
          <%= error %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% } %>
      <div class="form-group row">
        <label for="username"><strong>Username</strong></label>
        <input type="text" class="form-control" id="username" name="username" aria-describedby="Enter username" placeholder="CampDB username">
        <small class="form-text text-muted">Hopefully you remember your credentials <i class="fas fa-smile-beam"></i></small>
      </div>
      <div class="form-group row">
        <label for="password"><strong>Password</strong></label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      </div>
      <div class="row">
        <input type="submit" class="btn btn-primary" value="Login">
      </div>
    </form>
  </div>
</div>

<% include ./partials/footer.ejs %>
<script type="text/javascript">
  // Remove the div that connect-flash automatically assigns
  $("div").remove(".container");
</script>
